.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e7ebe3;
  margin-top: 35px;
  padding: 20px 0 24px;
  color: #89947e;
}
.page-footer > span {
  font-weight: 800;
  font-size: 0.875rem;
  letter-spacing: -0.5px;
}
.page-footer > span > span {
  margin-left: 3px;
}
.page-footer small {
  font-size: 0.625rem;
  font-weight: 450;
  letter-spacing: 0;
  margin-left: 12px;
  color: #9aa292;
}
.page-footer button {
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 0;
}
