.overview-secondary {
  padding-top: 0;
}
.next-card {
  background: #fff;
  border: 1px solid #e2e7dc;
  border-radius: 10px;
  padding: 21px;
}
.card-eyebrow {
  font-size: 0.625rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #829073;
  font-weight: 750;
}
.next-icon {
  background: #f1f5e8;
  color: #6d8650;
  height: 46px;
  width: 46px;
  border-radius: 11px;
  display: grid;
  place-items: center;
  margin: 23px 0 15px;
}
.next-card h2 {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.45px;
}
.next-card p {
  font-size: 0.75rem;
  color: #88907f;
  margin-top: 10px;
}
.task-time {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.6875rem;
  color: #81906e;
  margin-top: 17px;
}
.next-card .button {
  margin-top: 19px;
  font-size: 0.75rem;
}
.profile-snapshot {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e5e9e3;
  border-radius: 10px;
}
.profile-snapshot > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-snapshot h3 {
  font-size: 0.875rem;
  font-weight: 700;
}
.icon-button {
  width: 32px;
  height: 32px;
  display: inline-grid;
  place-items: center;
  border-radius: 5px;
  color: #829076;
  padding: 0;
  flex-shrink: 0;
}
.icon-button:hover {
  background: #e8eddc;
}
.profile-snapshot dl {
  margin: 12px 0;
}
.profile-snapshot dl > div {
  margin-bottom: 16px;
}
.profile-snapshot dt {
  font-size: 0.6875rem;
  color: #929a8e;
  display: flex;
  align-items: center;
  gap: 6px;
}
.profile-snapshot dd {
  margin: 6px 0 0 21px;
  font-size: 0.75rem;
  line-height: 1.7;
  font-weight: 600;
}
.snapshot-footer {
  font-size: 0.625rem;
  color: #89947e;
  display: block;
  border-top: 1px solid #e5e9df;
  padding-top: 13px;
}
.route-preview {
  margin-top: 28px;
}
.route-milestones {
  display: flex;
  background: #fff;
  border: 1px solid #e6e9e3;
  border-radius: 9px;
  padding: 23px 20px;
  position: relative;
  isolation: isolate;
}
.route-milestones:before {
  position: absolute;
  height: 1px;
  background: #e4e9db;
  left: 40px;
  right: 70px;
  top: 40px;
  content: '';
  z-index: -1;
}
.route-milestones > div {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.route-milestones > div > span {
  background: #fff;
  color: #a1aaa0;
  border: 1px solid #e4e8e0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 13px;
  font-size: 0.6875rem;
}
.route-milestones .done > span {
  background: #e4eed3;
  border-color: #e4eed3;
  color: #6b8651;
}
.route-milestones .current > span {
  border-color: #7e9d58;
  background: #f4f8ec;
  color: #5d7640;
  box-shadow: 0 0 0 4px #f5f8ee;
}
.route-milestones strong {
  font-size: 0.6875rem;
  font-weight: 650;
  color: #606e59;
  margin-bottom: 5px;
}
.route-milestones small {
  font-size: 0.5625rem;
  color: #909989;
}
